
.body {
  position: relative;
  width: 1440px;
  height: 2183px;
  margin: 0px;
  background: #FFFFFF;
}
.head {
  position: absolute;
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 0px;
}
.head__logo {
  position: absolute;
  width: 115px;
  height: 28px;
  left: 40px;
  top: 31px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* Black */
  color: #1B1B1B;
}
.head__menu {
  position: absolute;
  width: 293px;
  height: 19px;
  left: 961px;
  top: 35px;
}

.head__button_magic:hover{
  background-color: #61A199;
  ;
}
.head__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 30px;
  position: absolute;
  width: 106px;
  height: 43px;
  right: 40px;
  top: 23px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
}

.menu__item-about-us_magic:hover{
color:#61A199;
}

.menu__item-about-us {
  position: absolute;
  width: 42px;
  height: 19px;
  right: 251px;
 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* Black */
  color: #1B1B1B;
}

.menu__item-terms_magic:hover{
  color:#61A199;
}
.menu__item-terms {
  position: absolute;
  width: 64px;
  height: 19px;
  right: 157px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* Black */
  color: #1B1B1B;
}

.menu__item-questions_magic:hover{
  color:#61A199;
}
.menu__item-questions {
  position: absolute;
  width: 127px;
  height: 19px;
  right: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* Black */
  color: #1B1B1B;
}

.drawTeam {
  margin: 0px;
  position: absolute;
  width: 397px;
  height: 300px;
  left: 522px;
  top: 170px;
}


.about-us__title {
margin: 0px;
position: absolute;
width: 165px;
height: 77px;
left: 638px;
top: 531px;

/* H1 Desktop */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 120%;
/* identical to box height, or 77px */

text-align: center;

/* Black */

color: #1B1B1B;
}
.about-us__info {
  margin: 0px;
  position: absolute;
  width: 925px;
  height: 105px;
  left: 258px;
  top: 638px;
  /* Text L */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 147.3%;
  /* or 35px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
}

.contacts {
  position: absolute;
width: 1440px;
height: 341px;
left: 0px;
top: 823px;

background: #F7F9FB;
 
}
.contacts__telephone {
  position: absolute;
  width: 264px;
  height: 55px;
  left: 789px;
  top: 181px;
}
.contacts__telephone-text {
  /* Text S */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  bottom: 34px;
  margin: 0px;
  /* identical to box height, or 21px */
  text-align: center;
  /* Gray 2 */
  color: #4F4F4F;
}
.contacts__telephone-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.3%;
  top: 27px;
  margin: 0px;
  /* or 29px */
  text-align: center;
  color: #000000;
}
.contacts__trait {
  position: absolute;
  width: 1px;
  height: 62px;
  left: 720px;
  top: 178px;

  background: #C8C8CF;
}
.contacts__email {
  position: absolute;
  width: 264px;
  height: 56px;
  left: 387px;
  top: 181px;
  margin: 0px;
}
.contacts__email-text {
  /* Text S */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  bottom: 35px;
  margin: 0px;
  /* identical to box height, or 21px */
  text-align: center;
  /* Gray 2 */
  color: #4F4F4F;
}
.contacts__email-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.3%;
  top: 27px;
  margin: 0px;
  /* or 29px */
  text-align: center;
  color: #000000;
}

.contscts__title {
  position: absolute;
  width: 224px;
  height: 58px;
  left: 607px;
  top: 80px;
  margin: 0px;
  
  /* H2 Desktop */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
}

.team {
  position: absolute;
  width: 980px;
  height: 695px;
  left: 229px;
  top: 1244px;
}
.team__title {
  position: absolute;
  margin: 0px;
  width: 203px;
  height: 58px;
  left: 389px;
  bottom: 637px;
  /* H2 Desktop */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
}
.team__column {
  position: absolute;
  width: 196px;
  height: 261px;
}

.item-team__icon {
  position: absolute;
  width: 180px;
  height: 180px;
}
.item-team__name {
  position: absolute;
  width: 196px;
  height: 29px;
  top: 203px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 147.3%;
  /* or 29px */
  text-align: center;
  color: #000000;
}
.item-team__proffesion {
  position: absolute;
  width: 196px;
  height: 21px;
  top: 240px;
  /* Text S */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  /* identical to box height, or 21px */
  text-align: center;
  /* Gray 3 */
  color: #828282;
}

.ivan-box {
  left: 8px;
  top: 113px;
}

.aleksey-box {
  left: 269px;
  top: 113px;
}

.denis-box {
  left: 531px;
  top: 113px;
}

.nikolay-box {
  left: 792px;
  top: 113px;
}

.irina-box {
  left: 269px;
  top: 434px;
}

.mariya-box {
  left: 531px;
  top: 434px;
}
.footer {
  position: absolute;
width: 1440px;
height: 124px;
left: 0px;
top: 2059px;

background: #3F3D56;
}
.copywright {
  position: absolute;
width: 152px;
height: 19px;
right: 1248px;
top: 53px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;

opacity: 0.4;
}

.socials__link-vk_magic:hover{
  border: 1px solid #3F3D56;
}

.socials__link-vk {
  position: absolute;
width: 32px;
height: 32px;
left: 1276px;
top: 46px;
}

.socials__link-inst_magic:hover{
  border: 1px solid #3F3D56;
}

.socials__link-inst {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1322px;
  top: 46px;
}

.socials__link-faceb_magic:hover{
  border: 1px solid #3F3D56;
}

.socials__link-faceb {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1368px;
  top: 46px;
}


/*# sourceMappingURL=%5Boutput.css%5D.map */
