doctype html
html(lang='ru')
  head
    link(rel='stylesheet' type='text/css' href='../dist/main.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width; initial-scale=1')
    title SF-Drive
  body.body
    header.head
      a.head__logo
        img(src='../AboutUs/img/Logo.png' width='115px' height='28px' alt='Логотип')
      .head__burger-menu
        img(src='../FAQ/img/Vector Burger.png' alt='развернуть меню')
      nav.head__menu
        a.head__menu-item(href='#' alt='О нас') О нас
        a.head__menu-item(href='#' alt='Условия') Условия
        a.head__menu-item(href='#' alt='Частые Вопросы') Частые Вопросы
        button.head__button(type='submit') Войти
    main.main
      .drawQuestion
        img.drawQuestion__img(src='../FAQ/img/undraw_questions_75e0 1.png' alt='Картинка команды')
      h1 Частые вопросы
      p.question__info Отвечаем на вопросы, которые у вас могут возникнуть.
      section.questions
        .questions__container
          button.questions__box-collapsible(type='button')
            | Могу ли я отменить бронь?
            img.questions__answer-button-down(src='../FAQ/img/Down.png' alt='раскрыть ответ')
            img.questions__answer-button-up(src='../FAQ/img/Up.png' alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text
              | Можете, но за это будет списана коммисия по тарифу соответствующему вашему региону
          button.questions__box-collapsible(type='button')
            | Могу ли я вернуть деньги, если не подошёл автомобиль?
            img.questions__answer-button-down(src='../FAQ/img/Down.png' alt='раскрыть ответ')
            img.questions__answer-button-up(src='../FAQ/img/Up.png' alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text Да, если решение было принято до начала аренды автомобиля
          button.questions__box-collapsible(type='button')
            | Что делать, если случилось ДТП?
            img.questions__answer-button-down(src='../FAQ/img/Down.png' alt='раскрыть ответ')
            img.questions__answer-button-up(src='../FAQ/img/Up.png' alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text Звонить в службу поддержки
          button.questions__box-collapsible(type='button')
            | Могу ли я оставить автомобиль в удобном для меня месте?
            img.questions__answer-button-down(src='../FAQ/img/Down.png' alt='раскрыть ответ')
            img.questions__answer-button-up(src='../FAQ/img/Up.png' alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text
              | Данный вопрос обсуждается с собственником, но как правило автомобиль нужно вернуть туда, где вы его получили.
          button.questions__box-collapsible(type='button')
            | Что делать, если собственник просит заплатить ему напрямую?
            img.questions__answer-button-down(src='../FAQ/img/Down.png' alt='раскрыть ответ')
            img.questions__answer-button-up(src='../FAQ/img/Up.png' alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text Отказать, все платежи проходят через нас
          button.questions__box-collapsible(type='button')
            | Должен ли я заправлять автомобиль?
            img.questions__answer-button-down(src='../FAQ/img/Down.png' alt='раскрыть ответ')
            img.questions__answer-button-up(src='../FAQ/img/Up.png' alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text Если есть в этом необходимость
    footer.footer
      .footer__copywright © SkillDrive Inc. 2020
      .footer__socials
        a.footer__socials__link(href='#')
          img(src='../AboutUS/img/social/faceBook.png' alt='facebook')
        a.footer__socials__link(href='#')
          img(src='../AboutUS/img/social/instagramm.png' alt='instagramm')
        a.footer__socials__link(href='#')
          img(src='../AboutUS/img/social/vk.png' alt='vkontakte')
    script(src='../dist/main.js')
